name: Laravel Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]


defaults:
  run:
    working-directory: codificacao/hospital/Hospital

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    # Passo de Debug CRUCIAL: Vai mostrar onde está o composer.json
    - name: Listar arquivos (Debug)
      run: |
        echo "=== ONDE ESTOU? ==="
        pwd
        echo "=== O QUE TEM NA PASTA ATUAL? ==="
        ls -la
        echo "=== BUSCANDO COMPOSER.JSON (RECURSIVO) ==="
        find . -name "composer.json"

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, dom, fileinfo, sqlite3, zip, unzip, pdo, pdo_sqlite, curl

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Dependencies
      # Adicionei || true para que se falhar, a gente consiga ver o log do debug acima
      run: composer install --no-ansi --no-interaction --no-scripts --prefer-dist

    - name: Generate key
      run: php artisan key:generate

    - name: Create Database
      run: |
        touch database/database.sqlite
        
    - name: Execute tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test
